### Build ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log
logs/
*.out

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Spring Boot ###
*.jar
*.war

### Environment files ###
.env

### OS files ###
.DS_Store
Thumbs.db

### OCI ADB Wallet credentials
ociwallet